.bar_c38106{
  background-color: var(--purple1);
}
.itemsContainer_ef3116{
  background-color: var(--black1);
}
.searchBar_e6b769{
  background-color: var(--purple1);
  border-color: var(--purple0);
  border-width: 3px;
}
.scroller__99e7c{
  background-color: var(--purple1);
  margin-bottom: 0;
}

.themedBackground__74017{
  background-color: var(--purple1);
}

.messagesWrapper__36d07{
  background-color: var(--purple2);
}

.themed__9293f{
  background-color: var(--purple1) !important;
  border-color: var(--purple0);
  border-width: 3px;
  border-top:var(--purple0);
  border-top-width: 3px;
  border-top-style: solid;
  height:51px;
  margin-top:-1px;
}

.children__9293f:after{
  background-image: none !important;
}
.sidebar__5e434:after{
  background-color: var(--purple1);
}
.wrapper_ef3116{
  margin-bottom: 0;
}

.header_f37cb1{
  background-color: var(--purple1);
  border-color: var(--purple0);
  border-width: 3px;

}
.chatGradient__36d07{
  background:none;
}

.appAsidePanelWrapper_a3002d{
  background-color: var(--purple1);
}
.inner_c0bea0{
  background-color: var(--purple1);
}
.bannerButton_fb7f94{
  background-color: var(--purple1);
  color: var(--purple3);
}
.overlay_c0bea0{
  background-color: var(--purple2);
}
.grid__623de{
  background-color: var(--purple3);
}
.peopleColumn__133bf{
  background-color: var(--purple2);
}
.sectionsContainer__02f2d{
  background-color: var(--purple2);
}
.container_a62383{
  background-color: var(--purple1);
}
.container_a5c474{
  background-color: var(--purple2);
  margin-top: 0px;
  align-items: end;
}
.shop__08415{
  background-color: var(--purple2);
}
.productCardContainer_fcbddd{
  background-color: var(--purple1);
}
.footerGradient_fcbddd{
  background: none !important;
}
.scroller__23746{
  background-color: var(--purple2);
}
.container__956c6{
  background-color: var(--purple1);
}
.container__23ba6{
  border-color: var(--purple1);
}
.base__5e434{
  background-color: var(--purple1);
}
.container_b4f99f{
  background-color: var(--purple1);
}
.profile__9c3be{
  background-color: var(--purple2);
}
.container__62dd3{
  background-color: var(--purple2);
}
.wrapper__72c38{
  background-color: var(--purple1);
}
.buttonChildrenWrapper_a22cb0{
  background-color: var(--purple1);
}
.name__2ea32{
  color: var(--purple3)
}
.selected_c69b6d{
  color: var(--purple3)
}
.scroller__7d20c{
  background-color: var(--purple2);
}
.itemCard__7e549{
  background-color: var(--purple1);
}
.actionButton_f8fa06{
  background-color: var(--purple3);
}
.container__133bf{
  background-color: var(--purple0);
  border-color: var(--purple0);
}
.sidebarList__5e434{
  background-color: var(--purple0);
  border-width: 3px;
  border-color: var(--purple0);
  border-radius: 0;
  border-left: 0px;
}
.guildSeparator__252b6{
  background-color: var(--purple0);
}
.sectionDivider_e6b769{
  background-color: var(--purple0);
  height:3px;
}
.childWrapperNoHoverBg__6e9f8:nth-child(2){
  background: url(https://raw.githubusercontent.com/duyomg12/sv/662d0d6f07e87976f9b66d85c42c86977eac8b04/Untitled%20design%20(2).png) center/cover no-repeat;
}
.childWrapper__6e9f8 svg path{
  display: none;
}
.item__133bf{
  background-color: var(--purple2);
}
.addFriend__133bf{
  background-color: var(--purple2) !important;
}
.selected__5bc7e{
  background-color: var(--purple3) !important;
}
.container__551b0{
  background-color: var(--purple2);
}
.guildDetails__4cb8a{
  background-color: var(--purple1);
}
.icon__3173f svg path{
  fill: var(--purple3);
}
.backdrop__8a7fc{
  background-color: var(--purple2);
}
.container_a592e1{
  border-color: var(--purple3);
}
.iconMask__4cb8a{
  background-color: var(--purple1) !important;
}
.button_a22cb0{
  background-color: var(--purple1);
  border-color: var(--purple1);
}

.container_e131a9{
  background-color: var(--purple2);
}
.container__2637a{
  border-color: var(--purple1);
}
.root__6981d{
  background-image: url(https://raw.githubusercontent.com/duyomg12/sv/662d0d6f07e87976f9b66d85c42c86977eac8b04/Untitled%20design%20(2).png);
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
}
.video__48b20{
  border-color: var(--purple2);
}
.name__2ea32{
  color: var(--purple4);
}
.chat_f75fb0{
  background-color: var(--purple0) !important;
  border-top-style:none;
  margin-top: -3px;
}
.sectionDivider__629e4{
  background-color: var(--purple0);
  height:3px;
}
.form_f75fb0{
  background-color: var(--purple2);
}
.contentContainer__89463{
  background-color: var(--purple2);
}
.sidebarContainer__89463{
  background-color: var(--purple2);
}
.container__3f864{
  background-color: var(--purple1);
}
.shinyButton__6a443{
  background-color: var(--purple1);
}
.container__5573a{
  background-color: var(--purple1);
}
.boostContainer__823e1{
  background-color: var(--purple3);
  border-color:var(--purple2);
}
.sidebar__409aa{
  background-color: var(--purple1);
}
.contentHeader_e9e3ed{
  background-color: var(--purple1);
}
.scroller__6131a{
  background-color: var(--purple2);
}
.accountProfileCard_a27e58{
  background-color: var(--purple1);
}
.background_a27e58{
  background-color: var(--purple2);
}
.fieldList_a27e58{
  background-color: var(--purple2);
}
.fixedContent__409aa::after{
  background: none !important;
}
.bd-store-card{
  background-color: var(--purple1);
}
.bd-search-wrapper{
  background-color: var(--purple2);
}
.bd-container{
  background-color: var(--purple1);
}
.groupContent__70d86{
  background-color: var(--purple1);

}
.collapseable__217b7{
  border-color: var(--purple1);
}
.grabber_a562c8{
  background-color: var(--purple3);
}
.barFill_a562c8{
  background-color: var(--purple1) !important;
  border-color: var(--purple1) !important;
}
.cardPreview__39b32{
  background-color: var(--purple2);
}
.container_e928f4{
  background-color: var(--purple1);
}

.emptyCard__7e549{
  background-color: var(--purple1);
}
.title_f75fb0{
  margin-top:2px;
  height:51px;
}
.wrapper__44df5{
  background-color: var(--purple1);
}
.footer__4d95d{
  background-color: var(--purple3);
}
.scrollbarGhostHairline__506b3{
  background-color: var(--purple3);
}
.textContainer__4d95d{
  background-color: var(--purple3);
}
.upload_aa605f{
  background-color: var(--purple2);
}
.wrapper_f7ecac{
  background-color: var(--purple1);
}
.downloadSection__4d95d{
  color:var(--purple1);
}
.toggleExpandSection__4d95d{
  color: var(--purple1);
}
.openFullPreviewSection__4d95d{
  color:var(--purple1);
}
.codeIcon__4d95d{
  color:var(--purple1);
}
.scroller_c1e9c4 {
  background-color: var(--purple2);
}
.container__8a031{
  background-color: var(--purple1);
}
.optionContainer__949ab{
  background-color: var(--purple2);
}
.progressContainer__0d0f9{
  background-color:var(--purple2);
}
.notice__30f28{
  background-color: var(--purple0);
}
.container_dca174{
  background-color: var(--purple1);
}
.avatarWrapper_dca174{
  background-color: var(--purple1);
}
.embedFull__623de{
  border-color: var(--purple3);
}
.cardHeightMeasure__083ae{
  background-color: var(--purple1);
}
.gradient__083ae{
  background-image: none;
}
.footerContent__083ae{
  background-color: var(--purple1);
}
.container__2637a{
  background-color: var(--purple1);
}
.header_f37cb1{
  height:20px;
  border-bottom: 3px solid var(--purple0) !important;
  height:48px;
}
.wrapper_d5f3cd{
  background-color: var(--purple1);
}
.item__58105{
  color:var(--purple0);
}
.container__34c2c{
  background-color: var(--purple2);
}
.list_f369db{
  background-color:var(--purple2);
}
.resizeHandle__01ae2{
  background:none !important;
  background-color: var(--purple1) !important;
}
.container_faa96b{
  background-color: var(--purple1);
}
.isOpen_faa96b{
  background-color: var(--purple0) !important;
}

.wave_d81f48{
  fill:var(--purple2);
}
.recommendedServerCard__6d839{
  background-color: var(--purple1);
}
.faq__5d9e5{
  background-color: var(--purple1);
}
.card__4d7bb{
  background-color: var(--purple1);
}
.perkCard_b62c4e{
  background-color: var(--purple1);
}
.header__416c7{
  background-color: var(--purple0);
}
.usersList__416c7{
  background-color: var(--purple1);
}
.emptyContainer__5348b{
  background-image: url(https://tetralink.github.io/Nightcord-at-25-00-discord-theme/assets/3nightcord.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.tooltip__4e35b{
  background: var(--purple0);
  .caretFill__4e35b{
    fill: var(--purple0);
  }
}
.typing_b88801{
  background:none !important;
}
.container__8e680 div div{
  background-color: var(--purple1);
}

.row__0624f{
  background-color: var(--purple0) !important;
}
.row__0624f div{
  background-color: var(--purple0) !important;
}
.box_f8c98c{
  background-color: var(--purple1);
}
.headingCard__24605{
  background-color: var(--purple1) !important;
}
.actionMenuButton_d84e0f{
  background-color: var(--purple1);
}
.sessionIcon_c8ddd4 svg path{
  fill:var(--purple1);
}
.sessionIcon_c8ddd4{
  background-color: var(--purple4);
}
.legacySession_c8ddd4{
  .sessionIcon_c8ddd4{
    background-color: var(--purple0);
  }
}
.innerWrapper__70f7f{
  background-color: var(--purple0);
}
.preview__3ee45{
  background-color: var(--purple3);
}
.container_a1d343{
  background-color: var(--purple1);
}
.colorThemesBackground__1f3ba{
  background-color: var(--purple1);
}
.preview__5d148{
  background-color: var(--purple3) !important;
}
.krispCard_fb7bea{
  background-color: var(--purple1);
}
.cardPrimary__73069{
  border-color: var(--purple1);
  border-width: 3px;
}
.container__3f21e{
  background-color:var(--purple3) !important;
}
.checked__3f21e{
  background-color:var(--purple0) !important;
}
.slider__3f21e svg path{
  fill:var(--purple0);
}
.defaultKeybindGroup__57111{
  background-color: var(--purple1);
}
.cardPrimary__73069{
  background-color: var(--purple1) !important;
}
.headerContainer__7db08{
  background-color: var(--purple2);
}
.activeGame__497cd{
  background-color: var(--purple1);
}
.game__497cd{
  background-color: var(--purple1);
}
.username_adebba{
  background-color: var(--purple1);
}
.bd-switch-checked div{
  background-color:var(--purple0) !important;
}
.header_d9c882{
  background-color: var(--purple0);
}
.list_c441f0{
  background-color: var(--purple1);
}
.icon__1b24f{
  background-color: var(--purple2);
}
.header_e8b59c{
  background-color: var(--purple0);
}
.messagesPopout_e8b59c{
  background-color: var(--purple1);
}
.footer_e8b59c{
  background-color: var(--purple1);
}
.members_c8ffbb{
  background-color: var(--purple2);
}
.childContainer__91a9d{
  background-color: var(--purple2);
}
.member__5d473{
  background-color: var(--purple2);
}
.container_c8ffbb{
  border-color: var(--purple2);
}
.sidebarRegionScroller__23e6b{
  background-color:var(--purple1);
}
.contentRegionScroller__23e6b{
  background-color: var(--purple2);
}
.container_b08af5{
  background-color: var(--purple0);
}
.inputWrapper__0ed4f{
  background-color: var(--purple0);
}
.imageUploaderInner_e4d0bf{
  background-color: var(--purple1);
}
.tierHeaderContent_a36dee{
  background-color: var(--purple1);
}
.wrapper__83b1d{
  background-color:var(--purple1) ;
}
.tierBody_a36dee{
  background-color: var(--purple1);
}
.tierLock_a36dee path{
  fill:var(--purple2);
}
.tierIcon_a36dee path{
  fill:var(--purple2);
}
.banner_ec75b3{
  background-color: var(--purple1);
}
.customColumn__23e6b{
  background-color: var(--purple2);
}
.mainTableContainer_fa2640{
  background-color: var(--purple1);
}
.container_d8f25b{
  background-color: var(--purple1);
}
.titleContainer_e29cd7{
  background-color: var(--purple2);
}
.header_c6bf1b{
  background-color: var(--purple2);
}
.container__0f2e8{
  background-color: var(--purple1);
}
.popout_af3b89 div{
  background-color: var(--purple1);
}
.inventoryWrapper__1feb0{
  background-color: var(--purple2);
}
.active_bf1984{
  background-color: var(--purple3) !important;
}
.chatGradientBase__36d07{
  display:none;
}
.chatTypingGradientAtBottom__36d07{
  display:none;
}
.shop__6db1d{
  border-color: var(--purple0);
}
.header_f37cb1{
  margin-top:px;
}
.container__4e30a{
  background-color: var(--purple1);
}
.container_b1bfd4{
  background-color: var(--purple2);
}
.panel__5dec7{
  background-color: var(--purple2);
}
.container__0d0f9{
  border-color: var(--purple0);
  border-width: 3px;
}
.bar__7aaec{
  background-color: var(--purple2);
}
.header_f37cb1{
  border-color: var(--purple0);
  border-top: 3px !important;
  border-start-start-radius: 1px !important;
}
.sidebarList__5e434{
  border-top-style: solid !important;
  border-color: var(--purple0)!important;
}
.scrollableContainer__74017{
  border-radius: 0px;
}
.channelTextArea_f75fb0{
  border-radius: 0px;
  border-color: var(--purple3);
}
.channelTextArea_f75fb0:hover{
  border-radius: 0px;
  border-color: var(--purple3);
}
.channelIcon__9293f{
  background: url(https://tetralink.github.io/Nightcord-at-25-00-discord-theme/assets/4Logo2.png) center/cover no-repeat;
  width:32px;
  svg{
    visibility: hidden;
  }
}
.icon__9293f path{
  fill:var(--purple4)
}
.bar_c38106 {
  position: relative;
}
.bar_c38106::before{
  content: "Nightcord at 25:00";
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: url(https://tetralink.github.io/Nightcord-at-25-00-discord-theme/assets/4Logo2.png) left center no-repeat;
  background-size: 24px 24px;
  padding-left: 28px;
  white-space: nowrap;
  color: white;
  z-index: 2;
}

.title_edbb22{
  visibility: hidden;
}
.trailing_c38106{
  .button__85643 {
    visibility: hidden;
  }
  .clickable_c99c29{
    visibility: hidden;
  }
}
.winButtons_c38106::before{
  visibility: hidden;
}
.icon__2ea32 path{
  fill: var(--purple4);
}
.addButtonIcon__29444 path{
  fill: var(--purple4);
}
.overflow_b0dfc2{
  color: var(--purple4);
}
.container__9a9f9{
  background-color: var(--purple1);
}
.cardContent_f62fce{
  background-color: var(--purple1);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.scroller__53543{
  background-color: var(--purple2);
}
.sidebarHeaderDefault__0ab2c{
  color:var(--purple4);
}
.container_c2b141 div{
  color: var(--purple4);
}
.sidebar__5e434.theme-dark.images-dark::after{
  background-color: var(--purple1);
}
.searchResultsWrap_a98f3b{
  background-color: var(--purple2);
  border-color: var(--purple1);
}
.searchResult__80bf8{
  background-color: var(--purple1);
}
.searchHeader_ae7890{
  border-color: var(--purple2);
}
.container_b6544f{
  background-color: var(--purple1);
}
.selectDropdown__0edde{
  background-color: var(--purple2);
}

.itemCard__7e549:hover{
  background-color: var(--purple3) !important;
}
.header__7d20c{
  color: var(--purple4);
}
.actions_fc004c:hover div{
  background-color: var(--purple2);
}
.item__58105{
  background-color: var(--purple4);
}
.contentWrapper__08434{
  background-color: var(--purple2);
}
.bodyWrapper_c0e32c div{
  background-color: var(--purple2);
}
.wrapper__4e6ce{
  background-color: var(--purple2);
}
.inspector_aeaaeb{
  background-color: var(--purple2) ;
}
.categoryItemDefaultCategory_b9ee0c{
  background-color: var(--purple2);
}
.emojiItem_fc7141:hover{
  background-color: var(--purple1);
}
.header__14245{
  background-color: transparent !important;
}
.container_d02962{
  background-color: var(--purple1);
}
.header_fed6d3{
  background-color: var(--purple2);
}
.wrapper__14245,.header__8ef02,.pngImage__31fc2{
  background-color: transparent;
}
.outer_ab8609{
  background-color: var(--purple2);
}
.inner_ab8609{
  background-color: var(--purple2);
}
.container_a592e1{
  border-color: var(--purple0);
  border-width: 3px;
}
.header__551b0{
  border-color: var(--purple0);
  border-width: 3px;
}
.scroller_affa7e{
  background-color: var(--purple2);
}
.container__0be77{
  background-color: var(--purple1);
}
.answerInner__4c520{
  background-color: var(--purple2);
}
.file__0ccae{
  background-color: var(--purple3);
}
.collectibleInfoContainer_c50f62{
  background-color: var(--purple1);
}
.root__49fc1{
  background-color: var(--purple1);
}
.circle__710ee{
  background-color:var(--purple2);
}

.card__88264:hover{
  background-color: var(--purple0);
}
.card__88264{
  background-color: var(--purple1);
}
.content__49fc1{
  background-color: var(--purple2);
}
.mentioned__5126c{
  background-color: rgba(176, 170, 211, 0.3);
}
.wrapper_fa8995{
  background-color: var(--purple1);
}
.winButtonMinMax_c38106 svg {
  display: none;
}
.winButtonMinMax_c38106[aria-label="Maximize"]::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #47ecff;
  vertical-align: middle;
}
.winButtonMinMax_c38106[aria-label="Minimize"]::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fee659;
  vertical-align: middle;
}

.winButton_c38106 svg {
  display: none;
}
.winButton_c38106::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ff5bb4;
  vertical-align: middle;
}
.toolbar__89463{
  margin-top:0px
}
.root_c8dbe9{
  background-image: url(https://raw.githubusercontent.com/duyomg12/sv/662d0d6f07e87976f9b66d85c42c86977eac8b04/Untitled%20design%20(2).png);
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
}
.scroller_affa7e{
  background-image: url(https://raw.githubusercontent.com/duyomg12/sv/662d0d6f07e87976f9b66d85c42c86977eac8b04/Untitled%20design%20(2).png); 
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
}
.clipContainer__841c8{
  background-color: var(--purple1);
}
h1[class*="defaultColor"]{
  color: var(--purple4);
}
h2[class*="defaultColor"]{
  color: var(--purple4);
}
[class*="topic__"]{
  color: var(--purple4);
}
[id*="message-content"]{
  color: var(--purple5);
}
[class*="tagText"]{
  color: var(--purple4);
}
[class*="anchor_"] span{
  color: var(--purple5);
}
li div[class*="modeSelected"] div{
  color:var(--purple5) !important;
}
a[aria-label*="unread"] div div{
  color:var(--purple5) !important;
}
[class*="itemCard"] div{
  background-color: var(--purple1) !important;
  background: var(--purple1) !important;
}
[class*="channelTextArea"]{
  border-color: var(--purple1);
}
[role="article"][class*="mentioned"]:has(span[data-text^="@"]) {
    background-color: var(--purple1);
}
[data-message-is-reply="true"] [class*="wrapper_"]::before {
  background-color: var(--purple0) !important;
}
.divider__5126c{
  background-color: var(--purple1);
  span{
    background-color: var(--purple1);
    color:var(--purple4);
  }
}
.scroller_affa7e div{
  background-color: transparent !important;
}
.container__927fc{
  background-color: var(--purple1);
}
.appDetailsContainer_cb32c7{
  background-color: var(--purple2);
}
.iconContainer_cb32c7{
  background-color: var(--purple2);
}
.justifyStart_abf706{
  background-color: var(--purple2);
}
.container__06283{
  background-color: transparent !important;
}
.gray__06283{
  color: var(--purple2) !important;
}
.cameraWrapper__36486{
  background-color: var(--purple1);
  border-color: var(--purple1);
}
.deviceIcon__12eef svg path{
  fill: var(--purple4);
}
[class*="text-md"]{
  color: var(--purple4) !important;
}
h1[class*="heading-md"]{
  color: var(--purple4) !important;
}
[class*="text-sm"]{
  color: var(--purple4) !important;
}
[class*="anchor_"]{
  color: var(--purple5);
}
.secondaryIconDisabled__84bad path{
  fill:var(--purple5);
}
.secondaryIcon__84bad path{
  fill:var(--purple5);
}
.bar_a562c8{
  background-color: var(--purple0) !important;
}
[class*="text-lg"]{
  color: var(--purple5) !important;
}
[class*="selected"][class*="bd-box"]{
  background-color: var(--purple5) !important;
}
.bd-container{
  border-color: var(--purple4);
}
.bd-store-card-icon{
  background-color: var(--purple0);
}
.bd-addon-store-card{
  background-color: var(--purple1) !important;
}
.bd-addon-store-card-author-mask{
  background-color: var(--purple2) !important;
}
.premiumFeatureBorder__65c15{
  background-image: linear-gradient(
 color-mix(in oklab, var(--purple0) 100%, rgb(0, 0, 0)),
 color-mix(in oklab, var(--purple1) 100%, rgb(0, 0, 0))), linear-gradient(45deg, rgb(133, 71, 198), rgb(171, 93, 138));
}
.button__14992{
  background-color: var(--purple2);
}

.upsellContainer__0b69f{
  background-image: linear-gradient(
 color-mix(in oklab, var(--purple0) 100%, rgb(0, 0, 0)),
 color-mix(in oklab, var(--purple0) 100%, rgb(0, 0, 0))), linear-gradient(to right, rgb(133, 71, 198), rgb(184, 69, 193), rgb(171, 93, 138));
}
.scroller__6131a{
  scrollbar-color: var(--purple3) var(--purple2);
}
.buttonChildren_a22cb0 svg{
  fill : var(--purple4) !important;
}
.sidebar__5e434{
  background-color: var(--black1) !important;
}
.sidebar__5e434::after{
  background-color: var(--black1) !important;
  width: 72px;
}
.container__5808f{
  background-color: var(--purple1);
}
g g g g path{
  fill: var(--purple5) !important;
}
.container__16eb0{
  background-color: var(--purple1);
}
.searchResultsWrap_a98f3b{
  background-color: var(--purple1);
}
.message__80bf8{
  background-color: var(--purple2);
}
.itemCard__7e549{
  border-color:var(--purple1);
}
.container__72c38{
  border-color:var(--purple1);
}
.postEnrollmentBackground__24e2c{
  background-color: var(--purple1);
  border-color: var(--purple1);
}
[class*="text-xs"]{
  color: var(--purple4) !important;
}
.content__0d616{
  border-color: var(--purple1);
}.panels__5e434{
  background-color: var(--purple1);
}
.wrapper_cdf8a9{
  background-color: var(--purple3) !important;
}
.container__5573a{
  background-color: var(--purple1) !important;
  border-color: var(--purple3) !important;
}
.headerContainer__3f864{
  svg path{
    fill: var(--purple5); 
  }
  h2{
    color: var(--purple5) !important;
  }
}
.public-DraftStyleDefault-block div{
  background-color: var(--purple2);
}
.channelNameText_a7e67f{
  color: var(--purple4);
}
.public-DraftEditor-content {
  color: var(--purple5);
}
.public-DraftEditor-content {
  caret-color: var(--purple4);
}
.channelNameIcon_a7e67f path{
  fill : var(--purple5)
}
.icon_a22cb0 path{
  fill : var(--purple5)
}
[class*="timestamp"]{
  color: var(--purple4) !important;
}
.header_c0e32c{
  background-color: var(--purple1);
}
.menuItemIcon_ce8328 svg path{
  fill: var(--purple4);
}
.itemIcon__971b5 path{
  fill: var(--purple5);
}
.clearSearchHistoryIcon__971b5 path{
  fill: var(--purple5);
}
.imageAccessory_af017a div{
  background-color: var(--purple3);
}
.actionButtons_cc1819{
  background-color: var(--purple0);
  border-color: var(--purple0) ;
}
.buttonInner_aec7ab{
  background-color: var(--purple0);
  border-color: var(--purple0) ;
  svg path{
    fill: var(--purple4);
  }
}
.chipletContainerInner__10651{
  background-color: var(--purple2);
}
.inviteButton_f37cb1 svg path{
  fill: var(--purple4);
}
.icon__0c4c4 path{
  fill: var(--purple4);
}
.actionIcon_c69b6d path{
  fill: var(--purple4);
}
.icon_c1e9c4 path{
  fill: var(--purple4);
}
.label_c1e9c4{
  color: var(--purple5) !important;
}
.tabWrapper__26669 h1{
  border-bottom-color: var(--purple5) !important;
}
.children__9293f svg path{
  fill: var(--purple5);
}
.linkButtonIcon__972a0 path{
  fill: var(--purple5);
}
.name__20a53{
  color: var(--purple4);
}
.subtext__972a0{
  color: var(--purple3);
}
[class*="heading-md"]{
  color: var(--purple5) !important;
}
.wideBannerArt__08415{
  background-color: var(--purple1);
  border-color: var(--purple1);
}
.barButtonMain__0f481{
  color: var(--purple4);
}
.jumpToPresentBar__0f481{
  background-color: var(--purple0);
}
.sprite__04eed{
  background-color: var(--purple5);
}
.popout__76f04{
  background-color: var(--purple1);
}
.unread__2ea32{
  background-color: var(--purple5);
}
.headerChildren_f37cb1 svg path{
  fill: var(--purple5);
}
.rulesIconContainer_c66e86{
  background-color: var(--purple0);
}
.rulesIcon_c66e86 path{
  fill: var(--purple4);
}
.placeholderImage__7449f{
  background-color: var(--purple0);
  svg path{
    fill: var(--purple4);
  }
}
.content_f75fb0{
  background-color: var(--purple2) !important;
}
.prompt__5d7c9{
  background-color: var(--purple1);
}
.pageBody__41ed7{
  background-color: var(--purple2);
}
.container_bc0d35{
  background-color: var(--purple1);
}
.channelRow_e4503a{
  background-color: var(--purple1);
}
.icon_caf372 path{
  fill: var(--purple5) !important;
}
.bd-sidebar-header{
  color: var(--purple4);
}
.container__8061a{
  background-color: var(--purple2);
}
.wrapper__44b0c{
  background-color: var(--purple1) !important;
}
.icon_f8fa06 path{
  fill: var(--purple5);
}
.autocompleteQuerySymbol_ac6cb0{
  background-color: var(--purple2);
}
.container_a14595{
  background-color: var(--purple1);
}
.navItemIcon__551b0 svg path{
  fill: var(--purple5);
}
.icon__0f084 svg path{
  fill: var(--purple5);
}
.icon__8a7fc path{
  fill: var(--purple5);
}
.tab__65d41{
  color: var(--purple5) !important;
}
.postEnrollmentBackground__24e2c{
  border-color: transparent;
}
.card__84e3e{
  background-color: var(--purple1) !important;
}
.avatar_f215b9{
  border-color: var(--purple0) !important;
}
.addFriendInputWrapper__72ba7{
  background-color: var(--purple0);
}
